.view {
  nav.pager-nav {
    display: inline-block;
    width: 100%;
    clear: both;

    li,
    li a {
      font-weight: 400 !important;
    }

    li > a {
      border-color: #777 !important;
      padding: 0.7em 1.2em;
    }
  }
}

.html {
  .glazed-util-background-primary, 
  .bg-primary,
  .glazed-secondary-header {
    background-color: var(--alphaColor);
  }

  .region-content {
    .btn:not(.control) {
      background-color: var(--alphaColor);
      border: 3px solid var(--white);
      color: var(--text);
      padding: 10px;
    }
  }
}

nav, nav ul li, nav a {
  font-weight: 400;
}

.glazed-secondary-header a[href*="tel"] {
  font-weight: 600;
  font-size: 18px;
}

.az-element.az-text.az-element--controls-center h3 {
  margin: 12px auto;
  color: var(--text);
}