@charset "UTF-8";
/* Insert your custom CSS styles */

#rocket img {
  display: block;
  max-width: 100%;
  height: auto;
}

.fadein,
.fadeIn {
  opacity: 0;
}

/*
.az-container > .controls {
  top: 80px;
}*/

.copyright-desc p {
  text-align: right;
}

.tb-megamenu .dropdown-menu .active > a,
.tb-megamenu .dropdown-menu .active > a:hover,
.tb-megamenu .dropdown-menu .active > span.tb-megamenu-no-link,
.tb-megamenu .dropdown-menu .active > span.tb-megamenu-no-link:hover {
  background-image: none;
}

/* -------- Inner page css start ------- */
.wrap-containers .page-title-full-width-container {
  padding-bottom: 0px;
  background: #2D343A;
  margin-bottom: 0px;
}

.path-who-we-are .wrap-containers .page-title-full-width-container {
  padding-bottom: 30px;
}

#rocket.page-node-type-landing-page .wrap-containers .region.region-content .page-title {
  background: rgba(0, 84, 164, 0.9);
  padding: 0.6rem 1rem 0.6rem 1rem;
  height: auto;
  margin-top: 15px;
  line-height: 1;
  position: relative;
  left: 15px;
  z-index: 1;
}
#rocket.page-node-type-landing-page .wrap-containers .region.region-content .page-title span {
  top: 0; 
  line-height: 1.4;
}
@media (min-width: 1024px) {
  #rocket.page-node-type-landing-page .wrap-containers .region.region-content .page-title {
    margin: -51px -15px 0;
  }
}
@media (max-width: 1023px) {
  .az-ctnr.container {
    width: 100%;
  }
  #rocket.page-node-type-landing-page .wrap-containers .region.region-content .page-title {
    padding: 0.6rem 1rem 0.6rem 1rem;
    height: auto;
    left: 0;
    margin-bottom: 0;
  }
}
@media (min-width:  768px) {
  .az-ctnr.container {
    padding: 0;
  }
  .az-row--sm.az-row--equal-height.row {
    margin: 0;
  }
}
#rocket.page-node-type-landing-page .wrap-containers .region.region-content .page-title span {
  padding: 0px;
}

#block-rocketlandingcontentwithimage .az-element.az-row.row.az-row--sm {
  border-bottom: 1px solid #CECDC9;
  border-right: 1px solid #CECDC9;
  border-left: 1px solid #CECDC9;
}
@media (max-width: 767px) {
  #block-rocketlandingcontentwithimage .az-element.az-row.row.az-row--sm {
    margin-left: 0;
    margin-right: 0;
  }
}

.page-node-type-page #page-title .page-title {
  height: 100%;
}

.page-node-type-page .page-title span,
.path-who-we-are .page-title span,
.path-leadership-team .page-title span {
  top: 18px;
}

a.logo.navbar-btn {
  max-width: 200px;
  display: inline-block;
  width: 100%;
}

#navbar .navbar-header {
  top: auto;
}

#rocket.page-node-type-landing-page .landing-content-main-content,
#rocket.page-node-type-landing-page .view-id-landing_image {
  padding-top: 20px;
}


.bg-gray-lighter {
  background-color: #f8f8f8;
}

.custom_p-60 {
  padding-top: 60px;
}

.custom_p-t-60 {
  padding-top: 60px;
}

.custom_p-b-60 {
  padding-bottom: 60px;
}

#rocket.page-node-type-page {
  background-color: #fff;
}

.our_culture img {
  max-height: 500px;
}

#rocket {
  background-color: #fff;
}

.custom_investor_relation img {
  width: 100%;
}

/* -------- Inner page css start ------- */
/* -------- Product page css start ------- */
.product-banner-section {
  position: relative;
}

#rocket .product-banner-title {
  left: 0;
  display: inline-block;
  z-index: 2;
  position: absolute;
  bottom: 8px;
  min-width: 270px;
  height: 50px;
  margin: 0;
  padding: 0.6rem 1rem 0 1rem;
  background: rgba(0, 84, 164, 0.9);
}

#rocket .product-banner-title h2 {
  color: #fff;
  margin: 0;
}

#rocket .product-main-images .col-sm-12 {
  margin-bottom: 0px;
}

.product-tab-section .az-element.az-icon {
  display: none;
}

.product-nav-container .az-ctnr.container-fluid {
  padding: 0px;
}

.product-tab-section > .container {
  padding: 0px;
  display: flex;
}

.product-nav .az-ctnr.container {
  justify-content: center;
  display: flex;
  padding: 0px;
}

@media (max-width: 767px) {
  .product-nav .az-ctnr.container {
    flex-flow: row wrap;
    justify-content: flex-start;
    width: 100vw !important;
  }

  .product-nav .az-ctnr.container .az-ctnr.container {
    padding-left: 15px;
    padding-right: 50px;
  }
}

@media (min-width: 768px) {
  .product-nav .az-ctnr.container {
    width: 750px !important;
  }

  .node-157 .product-nav .az-ctnr.container .az-ctnr.container {
    padding-left: 15px;
  }
}

#rocket .az-ctnr.container-fluid .product-features, 
#rocket .az-ctnr.container-fluid .product-related {
  margin-left: -15px;
  margin-right: -15px;
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 992px) {
  .product-nav .az-ctnr.container {
    width: 970px !important;
  }
}

@media (min-width: 1200px) {
  .product-nav .az-ctnr.container {
    width: 1170px !important;
  }
}

.product-nav .az-ctnr.container .btn-product {
  /*width: calc(100% / 4);*/
  flex: 1 1 25%;
  width: auto;
}

@media (max-width: 767px) {
  .product-nav .az-ctnr.container .btn-product {
    flex: 0 0 50%;
  }
  .product-nav .az-ctnr.container .product-top {
    position: absolute;
    top: 0;
    right: 0;
    padding-left: 0 !important;
  }
}

.product-nav .az-ctnr.container .product-top {
  width: 9.5%;
  flex: 0 0 9.5%;
  padding-left: 20px;
}

.product-nav .az-ctnr.container .product-top > a {
  font-size: 0 !important;
  width: 100%;
}

.product-nav .az-ctnr.container .product-top > a::before {
  content: "\f106";
  font-size: 20px;
  font-family: "FontAwesome";
  line-height: normal;
  display: block;
}

.product-nav .az-ctnr.container .btn-product:first-of-type {
  border-left: 1px solid #b6b4ae;
} 
.col-xs-1,
.col-sm-1,
.col-md-1,
.col-lg-1,
.col-xs-2,
.col-sm-2,
.col-md-2,
.col-lg-2,
.col-xs-3,
.col-sm-3,
.col-md-3,
.col-lg-3,
.col-xs-4,
.col-sm-4,
.col-md-4,
.col-lg-4,
.col-xs-5,
.col-sm-5,
.col-md-5,
.col-lg-5,
.col-xs-6,
.col-sm-6,
.col-md-6,
.col-lg-6,
.col-xs-7,
.col-sm-7,
.col-md-7,
.col-lg-7,
.col-xs-8,
.col-sm-8,
.col-md-8,
.col-lg-8,
.col-xs-9,
.col-sm-9,
.col-md-9,
.col-lg-9,
.col-xs-10,
.col-sm-10,
.col-md-10,
.col-lg-10,
.col-xs-11,
.col-sm-11,
.col-md-11,
.col-lg-11,
.col-xs-12,
.col-sm-12,
.col-md-12,
.col-lg-12 {
  margin-bottom: 0px !important;
}

#rocket .view-landing-carousels.landing-carasoual-image img {
  max-width: 1600px;
}

.view-rocket-product-gallery {
  position: relative;
  margin: 2rem auto 0 auto;
  padding: 0 4px 3.75rem 4px;
  width: 100%;
  max-width: 1170px;
}

.view-rocket-product-gallery .gallery-item {
  margin-bottom: 4px !important;
  overflow: hidden;
}

.view-rocket-product-gallery .gallery-item img {
  opacity: 0.85;
  transform: scale(1);
  transition: all 0.2s ease-out;
  width: 100%;
  height: 100%;
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
  object-position: 50% 50%;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
}

.view-rocket-product-gallery .gallery-item img:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  opacity: 1;
}

.map_image img {
  margin: 40px auto;
}

section#block-views-block-product-related-block-1 {
  padding-bottom: 40px;
  padding-top: 50px;
  background: rgba(206, 205, 201, 0.2);
  margin-top: 100px;
}

.wrap-branding {
  z-index: 9999;
  position: relative;
}

#block-views-block-rocket-product-gallery-block-1 span.field-content {
  display: inline-block;
  overflow: hidden;
}

#block-views-block-rocket-product-gallery-block-1 .gallery-item.col-xs-6.col-sm-6.col-md-4.col-lg-3,
#block-views-block-product-related-block-1 .col-sm-3 {
  padding: 0 4px !important;
}

#block-views-block-rocket-product-gallery-block-1 .view-content,
#block-views-block-product-related-block-1 .view-content {
  margin: 0 -8px;
}
/* ------ Owl Navigation Arrows --------*/
.owl-nav
{
    width: 100%;
}
.owl-nav button{
    width: 50px !important;
    height: 50px !important;
    background-color: #000;
    z-index: 99;
    line-height: 50px !important;
}
.owl-nav button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.owl-nav button span{
    font-size: 0px;
    
}
button.owl-prev{left: 0px;}
button.owl-prev span::before
{
    position: absolute;
    font-family: "FontAwesome"; 
    content: "\f104";
    left: 10px;
    top: 0px;
    font-size: 60px;
    color: #fff;
}
button.owl-next{ right: 0px;}
button.owl-next span::before
{
    position: absolute;
    font-family: "FontAwesome"; 
    content: "\f105";
    right: 15px;
    top: 0px; 
    font-size: 60px;
    color: #fff;
    left: auto;
}
.owl-theme .owl-dots {
    position: absolute;
    z-index: 99;
    bottom: 60px;
    height: auto !IMPORTANT;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}
.owl-theme .owl-dots .owl-dot span {
    width: 25px;
    height: 3px;
    margin: 0px 7px;
    background:rgba(255, 255, 255, 0.3);
    display: block;
    -webkit-backface-visibility: visible;
    transition: opacity 200ms ease;
    border-radius: 0px;
}
.owl-theme .owl-dots .owl-dot.active span
{
    width: 25px;
    height: 5px;
    background:rgba(255, 255, 255, 1); 
}
.owl-theme .owl-nav [class*='owl-']:hover {
    background: transparent;
    color: #FFF;
    text-decoration: none;
}
/* ------ Owl Navigation Arrows --------*/
/* ------ Leadership page css start --------*/
.owl-nav button {
    width: 50px !important;
    height: 50px !important;
    background-color: transparent;
    z-index: 99;
    line-height: 50px !important;
}
button.owl-next {
    border-color: transparent;
}
button.owl-prev {
    border-color: transparent;
}
#block-views-block-rocket-team-block-1 .leadership-team
{
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
    position: unset;
    padding: 0 15px;
}
#block-views-block-rocket-team-block-1 .leadership-team .view-header {
  padding-top: 45px;
}
#rocket .leadership-team .caption
{
    position: relative;
    left: auto;
    bottom: auto;
    text-align: left;
}
#block-views-block-rocket-team-block-1 .leadership-team ul#og-grid {
  text-align: left;
}
#block-views-block-rocket-team-block-1 .leadership-team ul#og-grid li {
  height: auto;
  margin-bottom: 3px !important;
}
@media (min-width: 992px) {
  #block-views-block-rocket-team-block-1 .leadership-team ul#og-grid {
    max-width: 1400px;
  }
  #block-views-block-rocket-team-block-1 .leadership-team .og-expander-inner {
    max-width: 1400px;
    margin: 0 auto;
  }
}
@media (min-width: 768px) {
  #block-views-block-rocket-team-block-1 .leadership-team ul#og-grid li {
    width: 19.5%;
    margin: 0;
  }
}
@media (max-width: 767px) {
  #block-views-block-rocket-team-block-1 .leadership-team ul#og-grid li {
    width: 49%;
    margin: 0;
  }
  #block-views-block-rocket-team-block-1 .leadership-team .team-img {
    display: none;
  }
  #block-views-block-rocket-team-block-1 .leadership-team .og-expander-inner {
    padding: 3rem 0;
  }
}
#block-views-block-rocket-team-block-1 .leadership-team li.team-member a {
  text-decoration: none;
}
#block-views-block-rocket-team-block-1 .leadership-team li.team-member img {
  width: 100%;
  max-width: 100%;
  margin: 0;
  object-fit: cover;
  object-position: top center;
}
#block-views-block-rocket-team-block-1 .leadership-team li.team-member.og-expanded img {
  opacity: 0.6;
}
.og-grid li.og-expanded > a::after {
  margin-top: -30px !important;
}
#block-views-block-rocket-team-block-1 .leadership-team .og-expander {
  margin-top: 0;
}
#block-views-block-rocket-team-block-1 .leadership-team .team-bio h3 {
  font-family: "eurostile-extended", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  font-size: 1.6rem;
  line-height: 1.6rem;
  margin: 0.3rem 0 0.5rem 0;
  padding: 0;
}
#block-views-block-rocket-team-block-1 .leadership-team .team-bio > span {
  font-family: "myriad-pro", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  font-size: 1rem;
  line-height: 1.2rem;
  margin: 0;
  padding: 0;
  color: #003a71;
  display: inline-block;
  width: 100%;
}
#block-views-block-rocket-team-block-1 .leadership-team .team-bio > p {
  margin-top: 1.2rem;
  padding-bottom: 1rem;
}
#block-views-block-rocket-team-block-1 .leadership-team .team-bio > a {
  display: none;
}
#block-views-block-rocket-team-block-1 .leadership-team li.team-member.og-expanded .caption {
  background: #b6b4ae;
}
#block-views-block-rocket-team-block-1 .leadership-team .view-content>.views-row .views-row .team-thumbnail img{
    width: 100%;;
}
.ui-accordion .ui-accordion-header{  padding: 0px !important;border-width: 0px}
.ui-icon-triangle-1-e{  display: none;}
/* ------ Leadership page css end --------*/
#rocket .view-id-rocket_landing_page_lists.view-display-id-block_1 .landing-list-item .landing-list-button
{
  background: #0054A4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#rocket .view-id-rocket_landing_page_lists.view-display-id-block_1 .landing-list-item .landing-list-button i{
  font-size: 30px;
  line-height: 1;
  color: #fff;
}
.view-id-rocket_landing_page_lists.view-display-id-block_1 {
  margin-top: 40px;
  padding-left: 0;
  padding-right: 0;
}
@media (min-width: 1200px) {
  .view-id-rocket_landing_page_lists.view-display-id-block_1 {
    width: 1170px;
    margin-left: -15px;
  }
}
@media (min-width: 1024px) {
  .view-id-rocket_landing_page_lists.view-display-id-block_1 .col-sm-6 {
    margin: 0;
    padding-left: 4px;
    padding-right: 4px;
  }
}
@media (max-width: 1023px) {
  .view-id-rocket_landing_page_lists.view-display-id-block_1 .col-lg-4 {
    margin: 15px 0 !important;
  }
}
#rocket.page-node-type-landing-page
{
  background: #fff;
}
#rocket .view-id-rocket_landing_page_lists.view-display-id-block_1 .landing-list-item .landing-list-title h3
{
  font-size: 1.25rem;
    line-height: 1.4rem;
    margin: 0;
    padding: 0;
}

#rocket #block-views-block-rocket-landing-page-lists-block-1 .landing-list-item a.landing-list-summary {
    height: 290px;
}
#rocket #block-views-block-rocket-landing-page-lists-block-1 .landing-list-item a.landing-list-summary {
    z-index: 1;
    opacity: 0;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    transition: all 0.2s ease-in-out;
}
#rocket #block-views-block-rocket-landing-page-lists-block-1 .landing-list-item a.landing-list-summary:hover{
	text-decoration: none;
}
#rocket #block-views-block-rocket-landing-page-lists-block-1 .landing-list-item a.landing-list-summary .landing-list-summary-inner {
    display: block;
    overflow: hidden;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 0.6rem;
    background-color: rgba(255, 255, 255, 0.9);
    color: #4A4A4A;
}
#rocket  #block-views-block-rocket-landing-page-lists-block-1 .landing-list-item:hover a.landing-list-summary {
    opacity: 1;
}

#rocket  #block-views-block-rocket-landing-page-lists-block-1 .landing-list-item .landing-list-label{
z-index:10;
position:relative;
}
.view-rocket-home-page-slider{
  height:800px;
}
.view-rocket-home-page-slider img {
    height: 800px !important;
    object-fit: cover;
    object-position: center center;
}

/* -------- 30-june-2022 ------- */
.view-id-landing_image .views-field-field-main-photo img.img-responsive {
    min-height: 100%;
    min-width: 100%;
    object-fit: cover;
}

.view-id-landing_image .views-field-field-main-photo,
.view-id-landing_image .views-row .views-field-field-main-photo ,
.view-id-landing_image .views-row .views-field-field-main-photo .field-content,
.view-id-landing_image .view-content,
.view-id-landing_image ,
.view-id-landing_image .views-row ,
.custom_imgs {
    height: 100%;
}

/* -------- 30-june-2022 ------- */

/* -------- 01-july-2022 ------- */


.row.view.view-rocket-landing-page-lists.view-id-rocket_landing_page_lists.view-display-id-categories {

}
.row.view.view-rocket-landing-page-lists.view-id-rocket_landing_page_lists .views-view-grid .views-col {
    padding-left: 4px;
    padding-right: 4px;
}
/* -------- 01-july-2022 ------- */


 /* START 08-07-2022  */
.page-node-type-article .page-title-container#page-title .page-title {
	height: inherit;
}

/* -------- Product page css end ------- */
@media only screen and (min-width: 1024px) {

  .path-who-we-are .main-container.container,
  .path-leadership-team .main-container.container {
    padding-left: 0px;
    padding-right: 0px;
  }
}

@media only screen and (max-width: 1024px) {
  .html--glazed-sticky-footer .body--glazed-nav-mobile.user-logged-in .glazed-header.navbar {
    position: absolute;
    width: 100%;
    top: 80px;
  }
}

@media only screen and (max-width: 767px) {
  .copyright-desc p {
    text-align: center;
  }

  .our_culture img {
    max-height: 300px;
  }
  
  .view-rocket-home-page-slider img {
    height: 350px !important;
  }
  .view-rocket-home-page-slider{
  height:350px;
  }
  .owl-theme .owl-dots{
    bottom:30px;
  }

}

.page-node-type-landing-page .owl-carousel {
  display: block !important;
}

div#product-overview {
  padding-bottom: 40px;
  padding-top: 50px;
}

div#product-features {
  padding-bottom: 40px;
  padding-top: 50px;
}

div#product-resources {
  padding-bottom: 40px;
  padding-top: 50px;
}
/* date 05-07-2022 */
.landing-list-title a {
    text-decoration: none;
}
html{
	scroll-behavior: smooth;
}
/*Pagination*/
nav.pager-nav {
  text-align: left;
}

ul.pagination {
  padding-left: 0 !important;
}

ul.pagination > li > a {
  display: inline-block;
  min-width: 30px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 7px 14px;
  margin: 2px;
  background: #fff !important;
  border: 1px solid #eaeaea;
  border-radius: 0 !important;
  color: #999;
  font-size: 13px;
  font-weight: 400;
  line-height: 25px;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  -webkit-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
  -moz-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
  -o-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
  -ms-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
  transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
}

ul.pagination > li > a::before {
  font-size: 13px !important;
}

ul.pagination > li.active > *,
ul.pagination > li:hover > * {
  border-color: #bbb;
  color: #444;
}

ul.pagination > li.active > * {
  cursor: default;
}

