@font-face {
    font-family: 'eurostile';
    src: url('../fonts/eurostile-webfont.woff2') format('woff2'),
        url('../fonts/eurostile-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'eurostile-extended';
    src: url('../fonts/EurostileExtended-Roman.eot');
    src: url('../fonts/EurostileExtended-Roman.eot?#iefix') format('embedded-opentype'),
        url('../fonts/EurostileExtended-Roman.woff2') format('woff2'),
        url('../fonts/EurostileExtended-Roman.woff') format('woff'),
        url('../fonts/EurostileExtended-Roman.ttf') format('truetype'),
        url('../fonts/EurostileExtended-Roman.svg#EurostileExtended-Roman') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'eurostile-extended';
    src: url('../fonts/EurostileExtended-Black.eot');
    src: url('../fonts/EurostileExtended-Black.eot?#iefix') format('embedded-opentype'),
        url('../fonts/EurostileExtended-Black.woff2') format('woff2'),
        url('../fonts/EurostileExtended-Black.woff') format('woff'),
        url('../fonts/EurostileExtended-Black.ttf') format('truetype'),
        url('../fonts/EurostileExtended-Black.svg#EurostileExtended-Black') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

body {
    margin: 0px;
    font-size: 16px;
}

img#logo {
    max-width: 200px;
    width: 100%;
}

/*------ Header css start----*/
.body--glazed-header-top #navbar.glazed-header--top.glazed-header--normal a.name.navbar-brand {
    display: none;
}

.tb-megamenu {
    background-color: transparent;
}

.tb-megamenu .dropdown-menu {
    border-width: 0px;
}

.tb-megamenu .dropdown-menu i.fa.fa-angle-down {
    position: absolute;
    right: -5px;
    bottom: 18px;
}

.body--glazed-nav-desktop #navbar.glazed-header--top.glazed-header--normal .tb-megamenu a {
    text-transform: uppercase;
}

.tb-megamenu .nav>li>a,
.tb-megamenu .nav>li>span.tb-megamenu-no-link {
    border-right-width: 0px;
    padding: 0 1.4rem;
}

/*------ Header css start----*/
.glazed-footer {
    background: #e6e6e4;
}

/*------ Slider arrow icon----*/
.glyphicon-chevron-left:before {
    content: "\f104";
    font-size: 100px;
    font-family: 'FontAwesome'
}

.glyphicon-chevron-right:before {
    content: "\f105";
    font-size: 100px;
    font-family: 'FontAwesome'

}

/*------ Slider arrow icon----*/

/*------ Footer css start----*/
footer .region .az-section .az-column.footer-social .az-text.custom-social-text {
    width: 20px;
}

/*------ Footer css end----*/

/*------ Three-boxes-content-css----*/
.custom-box .az-element.az-ctnr.az-column.col-sm-12 {
    display: flex;
    border: 1px solid;
}

.custom-box a.az-element.az-icon {
    width: 30px;
    background: #0054A4;
}

.custom-box a.az-element.az-icon i {
    font-size: 21px;
    color: #fff;
    line-height: 1;
}

/*------ Three-boxes-content-css----*/


/*------ Slider css start ----*/
.custom-carousel {
    height: 800px;
    overflow: hidden;
}

.custom-carousel .item {
    height: 800px !important;
    object-fit: cover;
    object-position: center;
}

/*------ Slider css stop ----*/

.page-title span {
    padding-top: 90px;
    display: block;
    color: #fff;
    padding-bottom: 30px;
    font-size: 1.4rem;
    font-family: "eurostile-extended", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    position: relative;
    top: 9px;
}

.page-title-full-width-container {
    padding-bottom: 30px;
    background: #2D343A;
}

#navbar:before {
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, white 15%, white 85%, rgba(255, 255, 255, 0) 100%);
    transition: opacity 0.3s ease-in-out 0.1s;
    z-index: -100;
    opacity: 0.2;
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

/*------ media querry start----*/
@media only screen and (min-width: 1025px) {

    #navbar .navbar-header {
        position: relative;
        top: -7px;
    }

    /* .body--glazed-nav-desktop #navbar.glazed-header--top.glazed-header--normal .mega-dropdown-inner {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    } */

    .body--glazed-nav-desktop #navbar.glazed-header--top.glazed-header--normal .mega-dropdown-inner .tb-megamenu-row.row-fluid:first-child {

        background-color: #ddd;
    }

    .body--glazed-nav-desktop #navbar.glazed-header--top.glazed-header--normal .mega-dropdown-inner .tb-megamenu-row.row-fluid:first-child .mega-inner {
        padding: 0px;
    }

    .tb-megamenu .row-fluid .span5 {
        width: 100%;
    }

    .body--glazed-nav-desktop #navbar.glazed-header--top.glazed-header--normal .mega-dropdown-inner .tb-megamenu-row.row-fluid .span6 {
        width: 40%;
    }

    .body--glazed-nav-desktop #navbar.glazed-header--top.glazed-header--normal .mega-dropdown-inner .tb-megamenu-row.row-fluid .span2 {
        width: calc(20% - 1.5%);
        margin-left: 1.5%;
        margin-top: 15px;
    }

    .body--glazed-nav-desktop #navbar.glazed-header--top.glazed-header--normal .mega-dropdown-inner .tb-megamenu-row.row-fluid .span3 {
        width: calc(30% - 1.5%);
        margin-left: 1.5%;
        margin-top: 15px;
    }

    .body--glazed-nav-desktop #navbar.glazed-header--top.glazed-header--normal .tb-megamenu .tb-block {
        margin-bottom: 0px;
    }

    .body--glazed-nav-desktop #navbar.glazed-header--top.glazed-header--normal .col-sm-12.container-col {
        margin-bottom: 0px;
    }

    .body--glazed-nav-desktop .glazed-header--top .nav>li>a,
    .body--glazed-nav-desktop .glazed-header--top .wrap-branding,
    .body--glazed-nav-desktop .glazed-header--top .block-glazed-helper {
        height: 80px;
        line-height: 80px;
    }

    .tb-megamenu .row-fluid .span2 {
        width: 33.33%;
    }

    .tb-megamenu .mega-nav>li>a,
    .tb-megamenu .dropdown-menu .mega-nav>li>a {
        font-size: 0.75rem;
        letter-spacing: 0.1rem;
        line-height: 1rem !important;
        text-transform: uppercase;
        color: #0054A4 !important;
        border-width: 0px;
    }

    .user-logged-in .tb-megamenu .dropdown-menu {
        position: fixed;
        top: 200px;
        left: 50%;
        transform: translateX(-50%);
    }

    .tb-megamenu .dropdown-menu {
        position: fixed;
        top: 80px;
        left: 50%;
        transform: translateX(-50%);
    }

    .tb-megamenu a.dropdown-toggle i {
        position: absolute;
        right: -8px;
        top: 50%;
        transform: translateY(-50%);
        font-size: 21px;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
    }

    .body--glazed-nav-desktop #navbar.glazed-header--top.glazed-header--normal .tb-megamenu a {
        background-color: transparent;
    }

    .body--glazed-nav-desktop #navbar.glazed-header--top.glazed-header--normal {
        background: rgba(0, 0, 0, 0.2);
        opacity: 1;
        border-radius: 0px;
        -webkit-border-radius: 0px;
        -moz-border-radius: 0px;
        -ms-border-radius: 0px;
        -o-border-radius: 0px;
        margin-bottom: 0px;
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        z-index: 1000;
    }

    .body--glazed-nav-desktop.user-logged-in #navbar.glazed-header--top.glazed-header--normal {
        top: 40px;
    }

    .dialog-off-canvas-main-canvas {
        position: relative;
    }

    ul.tb-megamenu-nav.nav {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end;
    }
}

@media only screen and (max-width: 1024px) {
    .custom-carousel .item {
        height: 350px !important;
    }

    .custom-carousel {
        height: 350px;
    }

    .sector-section .az-column.col-sm-4 .az-element.az-text.sector-title {
        width: 100%;
    }

    .sector-section .az-column .az-row {
        width: 100%;
    }

    .sector-section .az-column .az-row a.az-element.az-icon {
        width: 40px;
        background: #0054A4;
        height: 80px;
    }

    .sector-section .az-column .az-column .sector-desc.az-text {
        max-width: calc(100% - 40px);
    }

    .html--glazed-sticky-footer .body--glazed-nav-mobile .glazed-header.navbar {
        border-radius: 0px;
    }

    .html--glazed-sticky-footer .body--glazed-nav-mobile .glazed-header.navbar {
        position: absolute;
        width: 100%;
    }

    /* .html--glazed-sticky-footer .body--glazed-nav-mobile .glazed-header.navbar {
        background: rgba(0, 0, 0, 0.5);
    } */

    .html--glazed-sticky-footer .body--glazed-nav-mobile .glazed-header.navbar {
        margin-bottom: 0px;
    }

    .html--glazed-sticky-footer .body--glazed-nav-mobile .glazed-header.navbar .col-sm-12.container-col {
        margin-bottom: 10px;
    }

    .html--glazed-sticky-footer .body--glazed-nav-mobile .glazed-header.navbar .glazed-main-menu button.btn.btn-navbar.tb-megamenu-button {
        background: transparent;
        background-color: transparent !important;
        box-shadow: none;
        border: 0px solid transparent;
        padding: 0;
        margin: 0;
        width: 24px;
        height: 24px;
        display: block;
        z-index: 99;
    }

    .html--glazed-sticky-footer .body--glazed-nav-mobile .glazed-header.navbar .glazed-main-menu button.btn.btn-navbar.tb-megamenu-button:focus-visible,
    .html--glazed-sticky-footer .body--glazed-nav-mobile .glazed-header.navbar .glazed-main-menu button.btn.btn-navbar.tb-megamenu-button:focus,
    .html--glazed-sticky-footer .body--glazed-nav-mobile .glazed-header.navbar .glazed-main-menu button.btn.btn-navbar.tb-megamenu-button:focus-within {
        outline: none;
    }

    .html--glazed-sticky-footer .body--glazed-nav-mobile .glazed-header.navbar .glazed-main-menu button.btn.btn-navbar.tb-megamenu-button i {
        font-size: 24px;
        width: 24px;
        height: 24px;
    }

    .custom-carousel .carousel-indicators {
        z-index: 5;
    }

    .tb-megamenu .nav-collapse,
    .tb-megamenu .nav-collapse.collapse {
        z-index: 999;
    }

    .tb-megamenu .nav-collapse.collapse {
        height: auto !important;
        overflow: visible !important;
    }

    .navbar-header {
        float: none;
        display: inline-block;
    }

    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
    }

    .navbar-collapse.collapse {
        display: none !important;
    }

    .collapse.in {
        display: block !important;
    }

    .tb-megamenu .nav-collapse .nav {
        margin: 0;
    }

    .tb-megamenu .nav-collapse .nav {
        float: none;
    }

    .tb-megamenu .nav-collapse .nav>li {
        float: none;
    }

    .nav>li {
        position: relative;
        display: block;
    }

    .tb-megamenu .nav-collapse .nav>li>a,
    .tb-megamenu .nav-collapse .dropdown-menu a,
    .tb-megamenu .nav-collapse .nav>li>span.tb-megamenu-no-link,
    .tb-megamenu .nav-collapse .dropdown-menu span.tb-megamenu-no-link {
        border-bottom: 1px solid #222;
        border-right: none;
        color: #fff;
        text-shadow: none;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
    }

    .tb-megamenu .nav-collapse .nav>li>a,
    .tb-megamenu .nav-collapse .dropdown-menu a {
        padding: 9px 15px;
        font-weight: bold;
    }

    .tb-megamenu .dropdown-menu {
        background-color: #000;
    }

    .tb-megamenu .row-fluid,
    .tb-megamenu .mega-dropdown-menu,
    .tb-megamenu .row-fluid [class*="span"] {
        width: 100% !important;
        min-width: 100% !important;
        left: 0 !important;
        margin-left: 0 !important;
        transform: none !important;
        -webkit-transform: none !important;
        -moz-transform: none !important;
        -ms-transform: none !important;
        -o-transform: none !important;
    }

    .tb-megamenu .mega-inner {
        padding: 10px 20px;
    }

    .wrap-branding img#logo {
        max-width: 200px;
    }

    button.btn.btn-navbar.tb-megamenu-button {
        position: absolute;
        top: -45px;
        right: 15px;
    }

    section#block-mainmenu {
        width: 100%;
    }
}

@media only screen and (max-width: 979px) {
    .tb-megamenu .nav-collapse {
        background: #000;
        margin-top: 10px;
        position: absolute;
        top: 60px;
    }
}

@media only screen and (max-width: 767px) {
    .navbar.glazed-header .navbar-header {
        float: left;
    }

    .custom-logo {
        max-width: 300px;
        width: 100%;
        margin: 0 auto;
    }

    form#search-block-form {
        max-width: 400px;
        width: 100%;
        margin: 0 auto;
    }

    footer .region .az-section .az-column.footer-social a {
        margin-top: 0px !important;
    }

    footer .region .az-section .az-column.footer-social .az-text.custom-social-text {
        width: 35px;
    }

    footer .region .az-section .az-column.footer-social {
        -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
        justify-content: center !important;
    }

    .footer-links .az-element.az-row.row.az-row--sm.az-element--controls-top-left.ui-sortable.az-element--controls-spacer {
        text-align: center;
    }

    #rocket .footer-links p {
        text-align: center;
    }

    .sector-section .az-column .sector-title h3 {
        padding-left: 0.8rem !important;
    }
}

/*------ media querry end----*/


/*Space Css starts*/
.landing-list-overlay {
	position: absolute;
	width: 100%;
	z-index: 2;
	background: #fff;
	padding: 15px;
	height: 100%;
	opacity: 0;
	transition: all 0.7s ease-in-out;
}
.landing-list-overlay a,.landing-list-title a{
  text-decoration: none;
}

.views-field-nothing :hover .landing-list-overlay {
	opacity: 0.9;
}

.node-142 .page-title, .node-142 #block-rocketlandingcontentwithimage{
	display:none;
}

#rocket .view-display-id-categories .landing-list-item .landing-list-label, #rocket .view-display-id-categories_innovation .landing-list-item .landing-list-label, #rocket .view-id-rocket_landing_page_lists.view-display-id-block_1 .landing-list-item .landing-list-label {
	min-height: 4.5rem !important;
}
#rocket .view-display-id-categories .landing-list-item .landing-list-title, #rocket .view-display-id-categories_innovation .landing-list-item .landing-list-title, #rocket .view-id-rocket_landing_page_lists.view-display-id-block_1 .landing-list-item .landing-list-title {
	padding: 0.8rem 0.2rem 0.2rem 0.8rem !important;
}
#rocket .view-display-id-categories .landing-list-item .landing-list-button, #rocket .view-display-id-categories_innovation .landing-list-item .landing-list-button, #rocket .view-id-rocket_landing_page_lists.view-display-id-block_1 .landing-list-item .landing-list-button {
	width: auto !important;
}
.landing-list-button a {
	vertical-align: middle;
	align-content: space-between;
	padding: 20px 10px;
}
#rocket .view-id-rocket_landing_page_lists.view-display-id-block_1 .landing-list-item .landing-list-button:hover {
	background: #006ed7;
}

#rocket .view-id-rocket_landing_page_lists.view-display-id-block_1 .landing-list-item .landing-list-button i {
	font-size: 23px !important;line-height: normal !important;
}

#rocket .owl-carousel.owl-theme .owl-wrapper-outer .owl-wrapper .owl-item section.page-section {
  background-position: center center;
}
#rocket .owl-nav {
  opacity: 0;
}
#rocket .owl-nav div.owl-prev, #rocket .owl-nav div.owl-next {
  width: 45px;
  height: 45px;
  text-indent: -1000px;
  -webkit-border-radius: 0px !important;
  -moz-border-radius: 0px !important;
  border-radius: 0px !important;
  background: none;
  overflow: hidden;
}
#rocket .owl-nav .owl-prev {
  left: 2rem;
  transform: rotate(45deg);
  border-left: 1px solid #fff;
  text-indent: -1000px;
  border-bottom: 1px solid #fff;
}
#rocket .owl-nav .owl-next {
  right: 2rem;
  transform: rotate(-135deg);
  border-left: 1px solid #fff;
  text-indent: -1000px;
  border-bottom: 1px solid #fff;
}
#rocket .owl-slider-wrapper:hover .owl-nav {
	filter: Alpha(Opacity=100);
	opacity: 1;
	text-decoration: none;
}

/*Space Css ends*/