// A cleaner way to do breakpoints/media queries, http://breakpoint-sass.com/
// @import "breakpoint";
// End libs
@import "variables/**/*";
@import "components/**/*";

* {
  font-family: "Source Sans Pro Light", "Source Sans Pro";
  font-style: normal;
}

h1, h2, h3, h4, h5, h6, label, .field--label {
  font-weight: 400;
}